.selectorMain {
    width: 100%;
    background-color: #f8f8f8;
    margin: 0;
    padding-bottom: 1em;
}

.selectorBox {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    padding: 0;
    justify-content: center;
    align-self: center;
}


.textRow{
    width: 80%;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
}


.sourceText {
    margin-left: 1em;
    flex: 1;
}

.source {
    height: 150px;
    flex: 1;
    margin: 1em;
    padding: 1em;
    max-width: 400px;
    min-width: 250px;
    z-index: 1;
    display: inline-block;
}

.description {
    font-weight: 600;
}
